.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.empty-cart {
  text-align: center;
  font-size: 18px;
  color: #777;
  margin-top: 20px;
}

.cart-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cart-item img {
  max-width: 150px;
  height: auto;
}

.item-details {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.item-details h2 {
  font-size: 20px;
  margin: 10px 0;
}

.item-details p {
  font-size: 18px;
  margin-bottom: 10px;
}

.quantity {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.quantity button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
}

.remove-button,
.add-to-cart-button {
  background-color: #ff5a5a;
  color: #fff;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.total {
  text-align: right;
  margin-top: 20px;
  font-size: 20px;
}
